@import url("bootstrap/css/bootstrap.css");
@import url("Font/stylesheet.css");

html{
    scroll-behavior: smooth;
}
body {
  font-size: 15pt;
  font-family: 'arvoregular' !important;
}

p{
    margin-bottom: 0;
}

div.nav-container{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    margin: 0;
}

.navbar{
    padding: 0;
    background-color: #303030;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    margin: 0;
}

.navbar-brand{
    padding-left: 15px;
}

ul.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav-item {

  height: 46px;
  vertical-align: middle;
  display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-brand{
    color: white;
}

li.nav-item{
    vertical-align: middle;
    padding: 0 20px;
}
li a:hover {
    text-decoration: none;
    color: #48ECEC;
}

div{
    max-height: 100%;
    max-width: 100%;
}

#first-page{
    width : 100%;
    height: 720px;  
    justify-content: center;
}

.landing{
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turunin-font-size{
    font-size: 16pt !important;
}

.landing p{
    text-align: center;
    font-family: 'arvobold';
    align-content: center;
    vertical-align: middle;
    color: white;
    font-size: 24pt;
}

hr.main-line{
    border: 1px solid white;
    border-radius: 2px;
    width: 700px;
    align-content: center;
}

.landing img{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .85;
}

.profile{
    align-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

.profile-header h1{
    color: #48ECEC;
}

.profile-header h2{
    font-family: 'arvobold';
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14pt;
    color : #666666;
}

hr.header-line{
    border:.65px solid #666666;
    max-width: 50%;
    align-content: center;
}

.profile .container{
    margin-top: 100px;
    margin-bottom: 160px;
}

.container p#head{
    color: #48ECEC;
    font-size: 18pt;
    font-family: 'arvobold';
    margin-bottom: 20px;
}

.row p.font-profile{
    font-size: 14pt;
    margin-bottom: 0;
}

.about-me{
    height: 300px;
}

.my-poto{
    max-width: 75%;
    display: block;
    margin: auto;  
    height: 300px;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.row div.skill{
    width : 350px;
}

hr.line-skills{
    border: 4px solid #666666;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.resume h1{
    color: #48ECEC;
    margin-bottom : 15px;
}

.resume{
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(210, 210, 210, 0.68);
    max-width: 100%;
}
.resume h2{
    font-family: 'arvobold';
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14pt;
    color : #666666;
}

.education{
    padding-top: 60px;
    width : 75%;
}

.ed-heading{
    color: #48ECEC;
    font-size: 20pt;
}

.list-of-education{
    margin-top: 20px;
}

.orgs{
    padding-bottom: 25px;
}

.education-instance-degree{
    font-family: 'arvobold';
    color: black;
}

.pad-bot-5{
    padding-bottom: 5px;
}

.education-date-desc{
    color: #666666;
}

.contact{
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #303030;
    max-width: 100%;
    height: 770px;
}
.contact h1{
    color: #48ECEC;
    margin-bottom: 15px;
}

.contact h2{
    font-family: 'arvobold';
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14pt;
    color : #666666;
}

.container .list-of-contacts{
    margin-top: 30px;
    max-width: 75%;
}

.linkedIn{
    text-align: center;
    vertical-align: middle;
    max-width: 500px;
}

.linkedIn img{
    width : 43px;
    height: 43px;
    filter: saturate(0);
    opacity: .6;
}

.Line-contact img{
    width : 43px;
    height: 43px;
    filter: saturate(0);
    opacity: .6;
}

.contact-picture{
    margin: 0;
    padding: 0;
}

.gitlab-text{
    padding-left: 15px !important;
    padding-top: 15px !important;
}

.link-to-contact{
    padding-top: 8px;
    padding-left: 0;
    margin-left: 20px;
    color: #666666;
    font-family: 'arvobold';
    font-size: 12pt;
}

.Line-contact{
    max-width: 400px;
}

.Line-contact .link-to-contact{
    padding-left: 7px;
}

.git-row{
    margin: 10px;
}

.gitlab-contact{
    padding-top : 20px !important;
}

.gitlab-contact img{
    width : 56.69px;
    height: 56.69px;
    filter: saturate(0);
    opacity: .6;
}

.back-to-top{
    margin-top: 80px;
    padding-right: 100px;
}

.back-to-top img{
    background-color: #666666;
    max-width: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color: #666666;
}

a:hover{
    color: #7e7e7e;
    text-decoration: none;
}

@media (max-width : 450px){
    body{
        font-size: 12pt;
        font-family: 'arvoregular' !important;
    }

    hr.header-line{
        border:.65px solid #666666;
        max-width: 50%;
        align-content: center;
    }
}