<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Contact</title>
</head>
<body>
    <div class="nav-container" id="collapsibleNavbar">
        {% include 'intothevoid/snippets/navbar.html'%}
    </div>

    <div class='container contact align-items-center' id="contact">
        <div class="resume-header">
            <h1 class="text-center"><b>Check me out!</b></h1>
            <h2 class="text-center">“The power of getting to know one another is so immense, eclipsed only by first getting to know ourselves.”</h2>
            <h2 class="text-center">― Bryant McGill</h2>
            <hr class='header-line'>
        </div>
        <div class="container list-of-contacts">
            <div class="row justify-content-center">
                <div class="col-sm linkedIn">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1 contact-picture">
                                <a href="http://www.linkedin.com/in/salmannurhoiriza">
                                    <img src="{% static 'images/inLogo.png' %}" name="LinkedIn-foto">
                                </a>
                            </div>
                            <div class="col-sm-16 link-to-contact">
                                <a href="http://www.linkedin.com/in/salmannurhoiriza">
                                    linkedin.com/in/salmannurhoiriza
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm Line-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1 contact-picture">
                                <a href="http://www.line.me/ti/p/s3dqg-clAZ">
                                    <img src="{% static 'images/lineLogo.png' %}" name='Line-logo'>
                                </a>
                            </div>
                            <div class="col-sm-16 link-to-contact">
                                <a href="http://www.line.me/ti/p/s3dqg-clAZ">
                                    line.me/ti/p/s3dqg-clAZ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-32 gitlab-contact">
                    <div class="container">
                        <div class='row git-row'>
                            <div class="col-sm-1 contact-picture">
                                <a href="http://www.gitlab.com/Salman-Ahmad-N">
                                    <img src="{% static 'images/gitlabLogo.png' %}" alt="Git Lab Logo">
                                </a>
                            </div>
                            <div class="col-sm-16 gitlab-text link-to-contact">
                                <a href="http://www.gitlab.com/Salman-Ahmad-N">
                                    <span>gitlab.com/Salman-Ahmad-N</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class='header-line'>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>