<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'intothevoid/snippets/styles.html' %}
    <title>Resume</title>
</head>
<body>
    <div class="nav-container" id="collapsibleNavbar">
        {% include 'intothevoid/snippets/navbar.html'%}
    </div>
    <div class="container resume" id="resume">
        <div class="resume-header">
            <h1 class="text-center"><b>Resume</b></h1>
            <h2 class="text-center">"The best way to predict the future is to create it."</h2>
            <h2 class="text-center">— Abraham Lincoln</h2>
            <hr class='header-line'>
        </div>
        <div class="container education">
            <div class="row">
                <div class="ed-heading col-sm">
                Education
                </div>
            </div>
            <div class="row list-of-education orgs">
                <div class="col-sm-4">
                    <p class="education-instance-degree pad-bot-5">Universitas Indonesia</p>
                    <p class="education-date-desc">June 2018 - now</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Bachelor - Computer Science</p>
                    <p class="education-date-desc text-justify">Computer Science mainly focuses on solving problems by designing and analyzing algorithms.  After one year of education, I have learnt the basics of Java, Python (including Django), HTML, and CSS.  I would like to specialize in either Data Science & Analitics, or Artificial Intelligence.</p>
                </div>
            </div>
            <div class="row orgs">
                <div class="col-sm-4">
                    <p class="education-instance-degree pad-bot-5">SMAN 5 Bogor</p>
                    <p class="education-date-desc">June 2015 - May 2018</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Highschool - Science</p>
                    <p class="education-date-desc text-justify">I graduated from highschool, where I first became interested in Computer Science. It was the Computer Specialist Smanli (CSS) which is the school’s computer extracuricular. My first project was making a mini game with RPG Maker MV with my friends from CSS, though wasn’t continued because the lack of manpower.</p>
                </div>
            </div>
        </div>
        <div class="container education">
            <div class="row">
                <div class="ed-heading col-sm">
                Organizations & Commitees
                </div>
            </div>
            <div class="row list-of-education orgs">
                <div class="col-sm-4">
                    <p class="education-instance-degree pad-bot-5">PMB 2019</p>
                    <p class="education-date-desc">August - November 2019</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Staff - Supporting Division</p>
                    <p class="education-date-desc text-justify">Pembinaan Mahasiswa Baru (PMB) 2019 is a committee that fasilitates new students of Fasilkom UI on developing their new experince and life as a student of Fasilkom UI. As a staff, I help prepare the things needed for the event such as rooms, items, and food.</p>
                </div>
            </div>
            <div class="row orgs">
                <div class="col-sm-4 ">
                    <p class="education-instance-degree pad-bot-5">SIWAK-NG 2019</p>
                    <p class="education-date-desc">May - Now</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Staff - Supporting Division</p>
                    <p class="education-date-desc text-justify">Studi Islam Awal Kuliah - Next Generation (SIWAK-NG) is a committee that fasilitates new students of Fasilkom UI on how to increase their spiritual relationship with Allah. As a staff, I help prepare the necessary needs for the event such as transport, place, and items that are needed.</p>
                </div>
            </div>
            <div class="row orgs">
                <div class="col-sm-4">
                    <p class="education-instance-degree pad-bot-5">COMPFEST XI</p>
                    <p class="education-date-desc">February - September 2019</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Staff - Equipment & Security Division</p>
                    <p class="education-date-desc text-justify">Compfest XI is an event organized by students from Fasilkom UI about sharing how important technology is nowadays. As a staff, I help prepare the things needed for the event and keep the event secure and safe for people to enjoy.</p>
                </div>
            </div>
            <div class="row orgs">
                <div class="col-sm-4">
                    <p class="education-instance-degree pad-bot-5">PEMIRA FASILKOM 2018</p>
                    <p class="education-date-desc">October - December 2018</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Staff - Equipment Division</p>
                    <p class="education-date-desc text-justify">Pemilihan Raya (PEMIRA) Fasilkom is an election event to pick who will be the next Head of BEM Fasilkom and DPM. As a staff, I was tasked to prepare a room for internal meetings and the event and also food.</p>
                </div>
            </div>
            <div class="row orgs">
                <div class="col-sm-4">
                    <p class="education-instance-degree pad-bot-5">Asian Games 2018</p>
                    <p class="education-date-desc">July - September 2018</p>
                </div>
                <div class="col-sm-8">
                    <p class="education-instance-degree pad-bot-5">Liaison Officer - IT & Telecommunication Departement</p>
                    <p class="education-date-desc text-justify">Asian Games 2018 is a one of the largest sports event held by Indonesia Asian Games Organizing Committee (INASGOC) in Asia. As a Liaison Officer, I was tasked to help and communicate with vendors of items that are related to IT & Telecommunication to make sure every single one of the items are working well and in good condition.</p>
                </div>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#resume">
                <img src="{% static 'images/upArrow.png' %}" class="float-right">
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>