{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand px-2" href='#'>My Jadwal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item px-2">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="{% url 'list_jadwal' %}">Jadwal</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="{% url 'buat_jadwal' %}">Create Jadwal</a>
      </li>
    </ul>
  </div>
</nav>